<a href="https://colab.research.google.com/github/maliwant/data_viz/blob/main/Function_loop_condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = 'มะลิวรรณ'
surname ='ทองบุญมา'
ID = '603021833-2'

In [ ]:
b= f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
print (b)

ชื่อ มะลิวรรณ นามสกุล ทองบุญมา รหัส 603021833-2

#Function

#funtion template
ทำหน้าที่รับ input ประมวลผลออกมาเป็น output 
f(x) = y

###def คือการกำหนดฟังก์ชั่น


backtick (`) ==> กด ~ ค้าง, alt - 9>6 (full keyboard with number)

tilde (~)

curly bracket ({ })

square bracket ([ ])

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

```pyton
def funtion_name(_input_) :
  do_something with _input_ to get _output_
  return _output_ 
```
backtick (```)
tilde (~ )
curly bracket ({})
square bracket ([])

# ตัวอย่างการเขียน normal function

In [ ]:
def print_name(name,surname,ID) :
  st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
  return st

In [ ]:
print_name('มะลิวรรณ','603021833-2','ทองบุญมา')

'ชื่อ มะลิวรรณ นามสกุล 603021833-2 รหัส ทองบุญมา'

In [ ]:
print(print_name(name ='มะลิวรรณ',surname ='ทองบุญมา',ID = '603021833-2'))

ชื่อ มะลิวรรณ นามสกุล ทองบุญมา รหัส 603021833-2

เราใช้ เว้นวรรค(indent) เพื่อบอกขอบเขตของโปรแกรม

#ฟังก์ชั่นที่ไม่จำเป็นต้องมี output

In [ ]:
def print_name2 (surname , ID , name) :
    st=f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print st

In [ ]:
print(print_name2(name= 'มะลิวรรณ', surname= 'ทองบุญมา', ID= '603021833-2'

#ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi() :
  return 3.141592653589793

In [ ]:
Pi()*(2**2) #หาพื้นที่เส้นรอบวงกลม

12.566370614359172

### เราสามารถกำหนดค่า default (ค่าเริ่มต้น) ให้กับฟังก์ชั่นได้

In [ ]:
def print_2lines_default(name, surname, ID, grade='F'):
    st=f'ชื่อ {name} นามสกุล{surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data viz >>> {grade}'
    print (st2)

In [ ]:
print_2lines_default('มะลิวรรณ','ทองบุญมา','603021833-2')

ชื่อ มะลิวรรณ นามสกุลทองบุญมา รหัส 603021833-2
เกรดวิชา Data viz >>> F

### เราสามารถเพิ่มคำสั่งเข้าไปในฟังก์ชั่นอีกได้ โดยการเปลี่ยน คำสั่่ง return เป็น print()ได้ เช่นตัวอย่างนี้ ได้ทำการเพิ่ม

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [3]:
def print_2lines_default(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [5]:
print_2lines_default('มะลิวรรณ','ทองบุญมา','603021833-2')

ชื่อ มะลิวรรณ นามสกุล ทองบุญมา รหัส 603021833-2
เกรดวิชา Data Viz >>> F

In [6]:
print_2lines_default('มะลิวรรณ','ทองบุญมา','603021833-2','A')

ชื่อ มะลิวรรณ นามสกุล ทองบุญมา รหัส 603021833-2
เกรดวิชา Data Viz >>> A

##LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

In [ ]:
for each_member in listA :
  do_something

### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานว้ำๆในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
     o = i**2
     print (f' this member = {i} after process = {o}')

 this member = 1 after process = 1
 this member = 2 after process = 4
 this member = 3 after process = 9

#จบวันที่ 7 มกราคม 2564

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [ ]:
for i in 'maliwan':  #สั่งให้ปริ้นแบบเว้นบรรทัด
  print(f'{i} -> /')

m -> /
a -> /
l -> /
i -> /
w -> /
a -> /
n -> /

In [ ]:
for i in 'maliwan':   #สั่งให้ print แบบไม่เว้นบรรทัด
  print(f'{i} -> /  ', end = ',')

m -> /  ,a -> /  ,l -> /  ,i -> /  ,w -> /  ,a -> /  ,n -> /  ,

In [ ]:
for i in 'Thanapong':
    print(f'{i}->/',end= ' ' ) #สั่งให้ print แบบไม่เว้นบรรทัด

T->/ h->/ a->/ n->/ a->/ p->/ o->/ n->/ g->/

#สร้าง list ตัวเลขแบบอัตโนมัติ range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100) :
  print('มะลิ',end ='')

มะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิมะลิ

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

#loop in loop

#สามารถใช้ for loob ซ้อนกันสองรอบได้

In [ ]:
for name1 in range(2,5): #loop นี้วิ่ง(2, 3, 4)
    print(f'no name1 = {name1}')
    for name2 in range(1,13):
        print(name1,' x ',name2, ' = ',name1*name2)
    print('the inner loop is end')

no name1 = 2
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20
2  x  11  =  22
2  x  12  =  24
the inner loop is end
no name1 = 3
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30
3  x  11  =  33
3  x  12  =  36
the inner loop is end
no name1 = 4
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40
4  x  11  =  44
4  x  12  =  48
the inner loop is end

#loop in fuction

In [10]:
def print_feelings (I, friends, feeling = 'คิดถึง'):
    for friend in  friends :
      print (f' {I} {feeling} {friend}')

In [11]:
list_friends = ['แพม', 'วิว','นัท','แจน','ป๋อง','กะทิ']

In [12]:
print_feelings (' มะลิ ' ,list_friends)

  มะลิ  คิดถึง แพม
  มะลิ  คิดถึง วิว
  มะลิ  คิดถึง นัท
  มะลิ  คิดถึง แจน
  มะลิ  คิดถึง ป๋อง
  มะลิ  คิดถึง กะทิ

In [13]:
print (list_friends)

['แพม', 'วิว', 'นัท', 'แจน', 'ป๋อง', 'กะทิ']

In [14]:
print_feelings('มะลิ',list_friends,feeling='รัก')

 มะลิ รัก แพม
 มะลิ รัก วิว
 มะลิ รัก นัท
 มะลิ รัก แจน
 มะลิ รัก ป๋อง
 มะลิ รัก กะทิ

In [15]:
print_feelings('มะลิ',list_friends,'รัก')

 มะลิ รัก แพม
 มะลิ รัก วิว
 มะลิ รัก นัท
 มะลิ รัก แจน
 มะลิ รัก ป๋อง
 มะลิ รัก กะทิ

== (เท่ากับ),!= (ไท่เท่ากับ),<= ,>= ,< ,>

In [ ]:
' เจน ' == ' นุ่น '

False

In [ ]:
' เจน ' != ' นุ่น '

True

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [16]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'ทรงกลด': 'F', 'ปนัดดา': 'A', 'พันทิพา': 'B', 'ศุภนิตา': 'C'}

In [17]:
name_grade['ปนัดดา']

'A'

In [18]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [19]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [20]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

#condition คือ เงื่อนไขหรือประโยคเงื่อนไข

##### True / False
##### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

In [21]:
print(list_friends)

['แพม', 'วิว', 'นัท', 'แจน', 'ป๋อง', 'กะทิ']

In [22]:
for name1 in list_friends :
    for name2 in list_friends :
            print(name1,'รัก',name2)

แพม รัก แพม
แพม รัก วิว
แพม รัก นัท
แพม รัก แจน
แพม รัก ป๋อง
แพม รัก กะทิ
วิว รัก แพม
วิว รัก วิว
วิว รัก นัท
วิว รัก แจน
วิว รัก ป๋อง
วิว รัก กะทิ
นัท รัก แพม
นัท รัก วิว
นัท รัก นัท
นัท รัก แจน
นัท รัก ป๋อง
นัท รัก กะทิ
แจน รัก แพม
แจน รัก วิว
แจน รัก นัท
แจน รัก แจน
แจน รัก ป๋อง
แจน รัก กะทิ
ป๋อง รัก แพม
ป๋อง รัก วิว
ป๋อง รัก นัท
ป๋อง รัก แจน
ป๋อง รัก ป๋อง
ป๋อง รัก กะทิ
กะทิ รัก แพม
กะทิ รัก วิว
กะทิ รัก นัท
กะทิ รัก แจน
กะทิ รัก ป๋อง
กะทิ รัก กะทิ

In [23]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 != name2: #ไม่ปริ้นชื่อคนเดียวกันซ้ำ
            print(name1,'รัก',name2)

แพม รัก วิว
แพม รัก นัท
แพม รัก แจน
แพม รัก ป๋อง
แพม รัก กะทิ
วิว รัก แพม
วิว รัก นัท
วิว รัก แจน
วิว รัก ป๋อง
วิว รัก กะทิ
นัท รัก แพม
นัท รัก วิว
นัท รัก แจน
นัท รัก ป๋อง
นัท รัก กะทิ
แจน รัก แพม
แจน รัก วิว
แจน รัก นัท
แจน รัก ป๋อง
แจน รัก กะทิ
ป๋อง รัก แพม
ป๋อง รัก วิว
ป๋อง รัก นัท
ป๋อง รัก แจน
ป๋อง รัก กะทิ
กะทิ รัก แพม
กะทิ รัก วิว
กะทิ รัก นัท
กะทิ รัก แจน
กะทิ รัก ป๋อง

In [24]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 == name2: #ปริ้นชื่อคนเดียวกันซ้ำ
            print(name1,'รัก',name2)

แพม รัก แพม
วิว รัก วิว
นัท รัก นัท
แจน รัก แจน
ป๋อง รัก ป๋อง
กะทิ รัก กะทิ

In [25]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 == name2: 
            'do nothing'
        else:
            print(name1,'รัก',name2)

แพม รัก วิว
แพม รัก นัท
แพม รัก แจน
แพม รัก ป๋อง
แพม รัก กะทิ
วิว รัก แพม
วิว รัก นัท
วิว รัก แจน
วิว รัก ป๋อง
วิว รัก กะทิ
นัท รัก แพม
นัท รัก วิว
นัท รัก แจน
นัท รัก ป๋อง
นัท รัก กะทิ
แจน รัก แพม
แจน รัก วิว
แจน รัก นัท
แจน รัก ป๋อง
แจน รัก กะทิ
ป๋อง รัก แพม
ป๋อง รัก วิว
ป๋อง รัก นัท
ป๋อง รัก แจน
ป๋อง รัก กะทิ
กะทิ รัก แพม
กะทิ รัก วิว
กะทิ รัก นัท
กะทิ รัก แจน
กะทิ รัก ป๋อง

#### หากหลังเงื่อนไข True ถูกต้องจะทำการ print ข้อความออกมาว่า Yes

In [26]:
if True:
    print('Yes')

Yes

In [27]:
if False:
    print('No')

#### หากหลังเงื่อนไข False ไม่ถูกต้องจะไม่ปริ้นข้อความใดๆออกมา
#### ซึ่งจะต้องใช้เงื่อนไขนี้ จึงจะได้ปริ้นค่าเงื่อนไขนั้นออกมา ดังนี้

In [28]:
if False:
    print('Yes')
else:
    print('No')

No

#Homework4


#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

In [ ]:
def grade (score):
  if 0 <= score < 50 :
    print(f'ได้คะแนนเท่ากับ {score} คะแนน เกรดจะเป็น F ' )
  elif 50 <= score< 55:
    print(f'ได้คะแนนเท่ากับ {score} คะแนน เกรดจะเป็น D ' )
  elif 55 <= score< 60:
    print(f'ได้คะแนนเท่ากับ {score} คะแนน เกรดจะเป็น D+ ' )
  elif 60 <= score< 65:
    print(f'ได้คะแนนเท่ากับ {score} คะแนน เกรดจะเป็น C' )
  elif 65 <= score<70:
    print(f'ได้คะแนนเท่ากับ {score} คะแนน เกรดจะเป็น C+' ) 
  elif 70 <= score<75:
    print(f'ได้คะแนนเท่ากับ {score} คะแนน เกรดจะเป็น B  ' )  
  elif 75 <= score<80:
    print(f'ได้คะแนนเท่ากับ {score} คะแนน เกรดจะเป็น B+  ' )  
  elif 80 <= score<100:
    print(f'ได้คะแนนเท่ากับ {score} คะแนน เกรดจะเป็น A  ' )  
  else:
    print(f'ได้คะแนนเท่ากับ {score} คะแนน เกรดจะเป็น error ')

In [ ]:
list_Grade = [1,50,65,90,101,-5,49]
list_Grade

[1, 50, 65, 90, 101, -5, 49]

In [ ]:
for i in list_Grade :
    grade (i)

ได้คะแนนเท่ากับ 1 คะแนน เกรดจะเป็น F
ได้คะแนนเท่ากับ 50 คะแนน เกรดจะเป็น D
ได้คะแนนเท่ากับ 65 คะแนน เกรดจะเป็น C+
ได้คะแนนเท่ากับ 90 คะแนน เกรดจะเป็น A
ได้คะแนนเท่ากับ 101 คะแนน เกรดจะเป็น error
ได้คะแนนเท่ากับ -5 คะแนน เกรดจะเป็น error
ได้คะแนนเท่ากับ 49 คะแนน เกรดจะเป็น F