<a href="https://colab.research.google.com/github/maliwant/data_viz/blob/main/pandas102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os
path = '/content/drive/My Drive/dataviz_2021_data'

In [4]:
covid_file_path = os.path.join(path,'pm-18-jan-2021.csv')
print(covid_file_path)

/content/drive/My Drive/dataviz_2021_data/pm-18-jan-2021.csv

In [5]:
data_covid = pd.read_csv(covid_file_path)
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

##.isnull

In [6]:
data_covid.isnull()

         No.  announce_date  ...  district_of_onset   risk
0      False          False  ...               True  False
1      False          False  ...               True  False
2      False          False  ...              False  False
3      False          False  ...               True  False
4      False          False  ...               True  False
...      ...            ...  ...                ...    ...
12418  False          False  ...              False  False
12419  False          False  ...              False  False
12420  False          False  ...              False  False
12421  False          False  ...              False  False
12422  False          False  ...              False  False

[12423 rows x 10 columns]



```
# This is formatted as code
```

In [7]:
data_covid.isnull().any()

No.                      False
announce_date            False
notification_date         True
sex                       True
age                       True
nationality               True
province_of_isolation     True
province_of_onset         True
district_of_onset         True
risk                      True
dtype: bool

.all เอาค่าความจริงภายในแต่ละ all มาเก็บ

In [8]:
data_covid.isnull().all()

No.                      False
announce_date            False
notification_date        False
sex                      False
age                      False
nationality              False
province_of_isolation    False
province_of_onset        False
district_of_onset        False
risk                     False
dtype: bool

In [9]:
data_covid.iloc[0,0]

1

In [10]:
data_covid.iloc[:1,0].isnull()

0    False
Name: No., dtype: bool

###ต่อตารางแกน X แกน Y
####ต่อแกน Y คือ เพิ่มจำนวนข้อมูล (records)
####ต่อแกน X คือ เพิ่ม columns (เพิ่มรายละเอียดของข้อมูล)

ต่อตารางแกน y ด้วย pd.concat()

In [11]:
dataKK= data_covid[data_covid['province_of_onset']== 'ขอนแก่น']
dataKK

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[14 rows x 10 columns]

In [12]:
dataUD= data_covid[data_covid['province_of_onset']== 'อุดรธานี']
dataUD

       No.  ...                                         risk
424    425  ...                                      สนามมวย
434    435  ...                                  สถานบันเทิง
471    472  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
883    884  ...                                  สถานบันเทิง
885    886  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
941    942  ...                                  สถานบันเทิง
1059  1060  ...                คนไทยเดินทางกลับจากต่างประเทศ
2013  2014  ...                คนไทยเดินทางกลับจากต่างประเทศ
5810  5811  ...                            Cluster สมุทรสาคร
7433  7434  ...                                Cluster ระยอง

[10 rows x 10 columns]

In [13]:
dataMS= data_covid[data_covid['province_of_onset']== 'มหาสารคาม']
dataMS

         No.  ...                                         risk
346      347  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
789      790  ...                                  สถานบันเทิง
6690    6691  ...                            Cluster สมุทรสาคร
10802  10803  ...                            Cluster สมุทรสาคร

[4 rows x 10 columns]

In [14]:
pd.concat([dataKK,dataMS,dataUD])

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
346      347  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
789      790  ...                                    สถานบันเทิง
6690    6691  ...                              Cluster สมุทรสาคร
10802  10803  ...                              Cluster สมุทรสาคร
424      425  ...                                        สนามมวย
434      435  ...                                    สถานบันเทิง
471      472  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
883      884  ...                                    สถานบันเทิง
885      886  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
941      942  ...                                    สถานบันเทิง
1059    1060  ...                  คนไทยเดินทางกลับจากต่างประเทศ
2013    2014  ...                  คนไทยเดินทางกลับจากต่างประเทศ
5810    5811  ...                              Cluster สมุทรสาคร
7433    7434  ...                                  Cluster ระยอง

[28 rows x 10 columns]

ต่อตาราง แกน x
* จับ 2 ตารางมาต่อกันเลย (merge)
* เลือกมาเพิ่มเฉพาะบาง column

In [15]:
data_province = data_covid[['No.','announce_date','province_of_onset']]
data_province

         No. announce_date province_of_onset
0          1     1/12/2020     กรุงเทพมหานคร
1          2     1/17/2020     กรุงเทพมหานคร
2          3     1/22/2020            นครปฐม
3          4     1/22/2020     กรุงเทพมหานคร
4          5     1/24/2020     กรุงเทพมหานคร
...      ...           ...               ...
12418  12419     1/18/2021       สมุทรปราการ
12419  12420     1/18/2021       สมุทรปราการ
12420  12421     1/18/2021            ชลบุรี
12421  12422     1/18/2021            ชลบุรี
12422  12423     1/18/2021             ระยอง

[12423 rows x 3 columns]

In [16]:
data_human = data_covid[['No.','age','sex','nationality']]
data_human

         No.   age   sex nationality
0          1  61.0  หญิง       China
1          2  74.0  หญิง       China
2          3  73.0  หญิง    Thailand
3          4  68.0   ชาย       China
4          5  66.0  หญิง       China
...      ...   ...   ...         ...
12418  12419  28.0  หญิง    Thailand
12419  12420  27.0  หญิง    Thailand
12420  12421  10.0   ชาย    Thailand
12421  12422  52.0   ชาย    Thailand
12422  12423  51.0   ชาย    Thailand

[12423 rows x 4 columns]

#merge ตารางแบบง่าย รู้ว่าสองตาราง record ตรงกัน

In [17]:
full_table1=data_human.merge(data_province)
full_table1

         No.   age   sex nationality announce_date province_of_onset
0          1  61.0  หญิง       China     1/12/2020     กรุงเทพมหานคร
1          2  74.0  หญิง       China     1/17/2020     กรุงเทพมหานคร
2          3  73.0  หญิง    Thailand     1/22/2020            นครปฐม
3          4  68.0   ชาย       China     1/22/2020     กรุงเทพมหานคร
4          5  66.0  หญิง       China     1/24/2020     กรุงเทพมหานคร
...      ...   ...   ...         ...           ...               ...
12418  12419  28.0  หญิง    Thailand     1/18/2021       สมุทรปราการ
12419  12420  27.0  หญิง    Thailand     1/18/2021       สมุทรปราการ
12420  12421  10.0   ชาย    Thailand     1/18/2021            ชลบุรี
12421  12422  52.0   ชาย    Thailand     1/18/2021            ชลบุรี
12422  12423  51.0   ชาย    Thailand     1/18/2021             ระยอง

[12423 rows x 6 columns]

In [18]:
data_human2 = data_human.sort_values('age')
data_human2

         No.   age   sex nationality
1987    1988  0.10   ชาย    Thailand
6477    6478  0.11  หญิง    Thailand
11497  11498  0.11   ชาย       Burma
1675    1676  0.30   ชาย       Japan
1075    1076  0.40   ชาย    Thailand
...      ...   ...   ...         ...
12405  12406   NaN   NaN         NaN
12406  12407   NaN   NaN         NaN
12407  12408   NaN   NaN         NaN
12408  12409   NaN   NaN         NaN
12409  12410   NaN   NaN         NaN

[12423 rows x 4 columns]

In [19]:
full_table2 = data_human2.merge(data_province)
full_table2.head()

     No.   age   sex nationality announce_date province_of_onset
0   1988  0.10   ชาย    Thailand      4/4/2020             ระยอง
1   6478  0.11  หญิง    Thailand    12/30/2020          เพชรบุรี
2  11498  0.11   ชาย       Burma     1/16/2021         สมุทรสาคร
3   1676  0.30   ชาย       Japan      4/1/2020     กรุงเทพมหานคร
4   1076  0.40   ชาย    Thailand     3/27/2020      สุราษฎร์ธานี

In [20]:
data_human2_renamed = data_human2.rename(columns={'No.':'patientNumber'})
data_human2_renamed.head()

       patientNumber   age   sex nationality
1987            1988  0.10   ชาย    Thailand
6477            6478  0.11  หญิง    Thailand
11497          11498  0.11   ชาย       Burma
1675            1676  0.30   ชาย       Japan
1075            1076  0.40   ชาย    Thailand

In [21]:
data_human2_renamed.merge(data_province) #เนื่องจากไม่มีชื่อคอลัมที่เหมือนกันเลย

MergeError: ignored

In [ ]:
data_human2_renamed.merge(data_province,left_on='patientNumber',right_on='No.')

In [ ]:
full_table3 = data_human2_renamed.merge(data_province,left_on='patientNumber',right_on='No.') #กำหนดคีย์ที่ใส่เชื่อมกันของสองตาราง
full_table3.head()

In [ ]:
full_table3_1 = data_human2_renamed.merge(data_covid,how='left',left_on='age',right_on='age')
full_table3_1.head()

#map()

In [ ]:
data_human2_renamed.head()

In [ ]:
data_covid.head()

คุณสมบัติของ pandas ก็คือเราสามารถสร้าง column ใหม่ให้ตาราง df ได้ โดย

df['ชื่อ column ใหม่'] = (list ที่มีจำนวนสมาชิกเท่ากับจำนวน record ของ df)

In [ ]:
data_human2_renamed.head()

In [ ]:

data_human2_renamed['num'] = range(data_human2_renamed.shape[0])
data_human2_renamed

In [ ]:
data_human2_renamed['patientNumber'].map(data_covid.set_index('No.')['risk']) #.map มันจะ ผูกค่า 'patientNumber' กับ 'No.' เข้าด้วยกัน แล้ว return list ของค่า ['risk']

In [ ]:
data_human2_renamed['detail'] = data_human2_renamed['patientNumber'].map(data_covid.set_index('No.')['risk'])
data_human2_renamed



*   ต่อตารางแกน X แกน Y
*   .groupby   
*   save table
* create pandas table
* sort_values

#**HW7 สร้างตารางใหม่ที่ค่าใน ```sex``` เป็นmissing ทั้งหมด**
- สรุปว่าทำไม record นั้นๆถึงเป็น missing ใช้การดู นับ อื่นๆ

In [ ]:
data_covid.head()

In [ ]:
data_covid.isnull().any()

In [ ]:
sex_all = data_covid.fillna(value={'sex':'ไม่รู้'})
sex_all.head()

In [ ]:
sex_missing = sex_all[sex_all['sex']=='ไม่รู้']
sex_missing

In [ ]:
sex_missing.shape

In [ ]:
 B=sex_missing[sex_missing['nationality']=='Burma']
 B.shape

In [ ]:
z = sex_missing[sex_missing['province_of_onset']=='สมุทรสาคร']
z.shape

In [ ]:
bur=z[z['nationality']=='Burma']
bur.shape

In [ ]:
print(f' จากผู้ป่วยทั้งหมด \n มีผู้ป่วยที่ไม่ระบุเพศ จำนวน {sex_missing.shape[0]} ราย')
print(f' เป็นผู้ป่วยที่ถือสัญชาติเมียนมาและไม่ระบุเพศ จำนวน {B.shape[0]} ราย')
print(f' เป็นผู้ป่วยที่ไม่ระบุเศและพบในจังหวัดสมุทรสาคร จำนวน {z.shape[0]} ราย')
print(f' เป็นผู้ป่วยถือสัญชาติเมียนมาที่ไม่ระบุเศและพบในจังหวัดสมุทรสาคร จำนวน {bur.shape[0]} ราย')

#**สรุป**
จำนวน missing ที่พบ อาจเกิดจากการกรอกข้อมูลของผู้ป่วยไม่ครบถ้วน 
หรือผู้ป่วยบางคนต้องได้รับการรักษาอย่างเร่งด่วน 
หรือข้อมูลที่ได้รับแจ้งไม่ครบถ้วน เนื่องจากมากกว่าร้อยละ 50 ของผู้ป่วยนั้นถือสัญชาติเมียนมา ซึ่งทางไทยอาจจะไม่มีฐานข้อมูลที่สามารถตรวจสอบได้ของผู้ป่วยบางราย

#.Groupby

In [ ]:
1 data_covid.groupby('nationality') ##จัดกลุ่ม

In [24]:
data_covid.groupby('nationality').max(' ') ##ทำไม่ใส่ '' แล้วรันได้

                  No.   age
nationality
Afghanistan      4346  31.0
Albania          3522  51.0
American         3862  39.0
American         3905  46.0
American Samoa  11687  21.0
...               ...   ...
deutsch          3898  55.0
thailand         6824  57.0
ต่างด้าว         2998  43.0
ไทยใหญ่         10379  30.0
ไทใหญ่           5983  33.0

[100 rows x 2 columns]

###ทำ HW 7 ด้วย groupby()

In [ ]:
1 data_covid['sex'].isnull()

In [ ]:
missing_sex.groupby('nationality').describe()