<a href="https://colab.research.google.com/github/maliwant/data_viz/blob/main/Quize5(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import os
from datetime import datetime as dt

In [13]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [14]:
import os 

path = '/content/drive/My Drive/search_request.csv'

In [16]:
data = pd.read_csv(path)
data.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88

[5 rows x 10 columns]

In [17]:
data.iloc[0,2]

'2018-06-14 12:34:35.449'

In [18]:
len(data.iloc[0,2])

23

In [19]:
data.iloc[0,2][10]

' '

เปรียบเทียบจำนวน requests ของช่วงเวลา 11.00-11.59 กับ 23.00-23.59

เปรียบเทียบจำนวน requests ของวันจันทร์-พฤหัส กับ ศุกร์-อาทิตย์

In [20]:
from datetime import time

In [21]:
data['search_timestamp']  = pd.to_datetime(data['search_timestamp'],format='%Y-%m-%d %H:%M:%S',errors='coerce')

In [22]:
data[data['search_timestamp'].dt.dayofweek == 3]

          Unnamed: 0                             search_id  ...      lat     long
0                  0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1                  1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2                  2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
253              253  5e8ef1b0-6df6-4140-a867-91c8aa1d9c7c  ...  12.6087  102.118
254              254  9acce958-a6e5-4ba0-8a2b-92d453abe495  ...  13.7594  100.503
...              ...                                   ...  ...      ...      ...
10004269    10005142  9b2250fd-a462-4820-b604-b2d585b9a537  ...      NaN      NaN
10004270    10005143  6fff09ba-f16a-4510-bd26-97183f9f7bde  ...      NaN      NaN
10004271    10005144  5cb2fbb7-2a48-400e-8324-04cc7c302a30  ...      NaN      NaN
10004284    10005157  94c27eb4-6909-4511-a560-cfd1425a6cbb  ...      NaN      NaN
10004285    10005158  26130c30-c529-48bf-8430-a26e28afbcfd  ...      NaN      NaN

[1087060 rows x 10 columns]

### เปรียบเทียบจำนวน requests ของช่วงเวลา 11.00-11.59 กับ 23.00-23.59

In [23]:
day = data[data['search_timestamp'].dt.time < time(hour=12)]
day = day[day['search_timestamp'].dt.time >= time(hour=11)]
day = day.iloc[:,2].count()
day

738397

In [24]:
night = data[data['search_timestamp'].dt.time >= time(hour=23)]
night = night.iloc[:,2].count()
night

278510

In [25]:
print(f'ช่วงเวลา 11.00-12.00 มีจำนวนการค้นหาร้านอาหารเท่ากับ {day} ครั้ง มากกว่าช่วงเวลา 23.00-0.00 ที่มีจำนวนการค้นหาร้านอาหารเท่ากับ {night} ครั้ง ซึ่งมากกว่าอยู่ {day-night} ครั้ง')

ช่วงเวลา 11.00-12.00 มีจำนวนการค้นหาร้านอาหารเท่ากับ 738397 ครั้ง มากกว่าช่วงเวลา 23.00-0.00 ที่มีจำนวนการค้นหาร้านอาหารเท่ากับ 278510 ครั้ง ซึ่งมากกว่าอยู่ 459887 ครั้ง

### เปรียบเทียบจำนวน requests ของวันจันทร์-พฤหัส กับ ศุกร์-อาทิตย์

In [26]:
M_T = data[data['search_timestamp'].dt.dayofweek <= 3] 
M_T = M_T.iloc[:,2].count()
M_T

4220697

In [27]:
F_S = data[data['search_timestamp'].dt.dayofweek >= 4] 
F_S = F_S.iloc[:,2].count()
F_S

5783659

In [28]:
print(f'วันจันทร์-พฤหัสบดี มีจำนวนการค้นหาร้านอาหารเท่ากับ {M_T} ครั้ง น้อยกว่าวันศุกร์-อาทิตย์ที่มีจำนวนการค้นหาร้านอาหารเท่ากับ {F_S} ครั้ง ซึ่งน้อยกว่าอยู่ {F_S-M_T} ครั้ง')

วันจันทร์-พฤหัสบดี มีจำนวนการค้นหาร้านอาหารเท่ากับ 4220697 ครั้ง น้อยกว่าวันศุกร์-อาทิตย์ที่มีจำนวนการค้นหาร้านอาหารเท่ากับ 5783659 ครั้ง ซึ่งน้อยกว่าอยู่ 1562962 ครั้ง